@media screen and (min-width: 768px) {
	#Hamburger {
		display: none;
	}

	nav {
		width: auto;
		height: auto;
		position: relative;
		transform: translateY(0);
	}

	nav > ul {
		flex-direction: row;
		position: relative;
		top: 0;
	}

	nav > ul > li {
		opacity: 1;
	}

	nav > ul > li > a {
		font-size: 16px;
		padding: 5px 10px;
	}

	nav > ul > li > a:hover {
		color: orange;
	}
}
